body {
	background: #6308ac; 
	color: #CCC;
	font: normal 1.2em Arial,sans-serif;
	height: 100%;
	padding-bottom: 1px;
	padding-top: 64px;
}
.img_descript {
    padding-top: 20px;
    width: 600px;
    height: 450px;
    word-wrap: break-word;
} 

a {
   text-decoration: none; 
   color: #CCC;
}

img {
    width: 200px;
    height: 150px;
    margin:5px;
    border:3px solid #b97ce9; 
}
.img_body {
    width: 600px;
    height: 450px;
}
img:hover {
	border:3px solid #034F80;
}
main {
	width:662px;
	margin:0 auto;
	background: linear-gradient(to bottom, #6308ac, #0d0978); 
	color: #CCC;
}
.imgs_item a{
    background: #b97ce9; 
    color: #CCC;
    text-decoration: none;     
}
.imgs_item a:hover {
   color: #fff;
}
.titlePage h2 {
	font: normal 2em Arial,sans-serif;
	margin: 0;
	padding: 0;
    text-align: center;
    background: linear-gradient(to top, #6308ac, #0d0978); 
}
footer {
    width:662px;
    margin:0 auto;
	background: linear-gradient(to top, #6308ac, #0d0978); 
	color: #CCC;
}