    <div class="imgs_item">
        <h3> {{ alt }} </h3>
        <img src= {{ file }} /> 
        <br>
        <div class="img_hype">Просмотров: {{ hype }} </div> 
        <br>
        <a href= {{ opn_img }} >Подробнее</a>
        <a href= {{ del_img }} >Удалить</a>
    </div>