    <body>
        <center>
            <h1> {{ img_title }} </h1>
            <img class="img_body" src= {{ file }} />
            <div class="img_hype"> {{ img_hype }} </div> 
            <div class="img_descript"> {{ img_descript }} </div>
        </center>
    </body>